<!DOCTYPE html>
<html>
<head>
	<title>IPFreely - Available IP Addresses</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class='main-content'>
	<p>Welcome to IPFreely. Here is a list of the available IP addresses on your subnet:</p>

	<ul>
	{% for ipstatus in addresses %}
		{% if ipstatus.free %}
			<li><span>{{ipstatus.ip_address}}</span> <a data-ip="{{ipstatus.ip_address}}" data-id="{{ipstatus.id}}" class="ip_button" href="#">Claim this IP</a></li>
		{% endif %}
	{% endfor %}
	</ul>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script> <!-- Load into js external file error -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script>

$(".ip_button").click(function(e){
	e.preventDefault();
	var id = $(this).attr("data-id");
	var ip = $(this).attr("data-ip");
	reserveIp(id, ip, $(this).parent());
})

	function reserveIp(id, ip, el){$.ajax({
		type:"GET",
		url:"/delete/"+id,
		success: function(response){
			if(response){
				el.hide();
				alert("You claimed " + ip)
			}
		},
		error: function(a, b, c){
			alert("There was an error when trying to claim this IP address")
		}
	})}
</script>

</body>
</html>