<!DOCTYPE html>
<html>
<head>
	<title>IPFreely - Available IP Addresses</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<p>Welcome to IPFreely. Here is a list of the available IP addresses on your subnet:</p>

	<ul>
	{% for ipstatus in addresses %}
		{% if ipstatus.free %}
			<li>{{ipstatus.ip_address}}</li>
			<a href="{{ url_for('delete', id=ipstatus.id) }}">Claim this IP</a>
		{% endif %}
	{% endfor %}
	</ul>

<script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

</body>
</html>